@import 'nullstyle';

// Mixins

@mixin container($width){
    max-width: $width;
    width: 100%;
    margin: 0 auto;
    padding: 30px 15px 0;
}
@mixin block-title{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}


// Variables

$black: #000000;
$primary: #FF6464;
$secondary: #00A8CC;
$dark: #21243D;
$light: #8695A4;

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $black;
    font-size: 16px;
}
#app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
// Nav

.nav{
    display: flex;
    width: 100%;    
    align-items: center;
    justify-content: space-between;
    @include container(930px);
}
.nav__item{
    font-weight: 600;
    font-size: 20px;
    color: $black;
    transition: opacity .2s linear;
    &.active{
        color: $primary;

        &:hover{
            opacity: 1;
        }
    }
    &:hover{
        opacity: .6;
    }
}

// Header

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include container(930px);
    margin: 140px auto 90px;
}
.header__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
.header__title{
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
    max-width: 550px;
    color: $dark;
}
.header__subtitle{
    max-width: 500px;
    line-height: 1.5;
    color: $dark;
}
.header__button{
    background-color: $primary;
    padding: 15px 20px;
    border-radius: 2px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: background-color .2s linear;
    &:hover{
        background-color: darken($primary, $amount: 10%);
    }
}
.header__photo{
    max-width: 250px;
    width: 100%;
}
.header__img{
    max-width: 250px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    filter: drop-shadow(-5px 13px 0 #EDF7FA);
}

// Main

.main{
    width: 100%;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.main__wrapper{
    align-items: flex-start;
}

// About Me

.aboutMe{
    @include container(100vw);
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: $dark;
}
.aboutMe__title{
    @include block-title();
}
.aboutMe__subtitle{
    font-size: 20px;
    text-align: center;
    max-width: 500px;
    line-height: 1.5;
}

// Skills

.skills{
    @include container(930px);
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: $dark;
}
.skills__title{
    @include block-title();
}
.skills__subtitle{
    font-size: 20px;
}
.skills__items{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 70px;
}
.skills__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    width: 100%;
}
.skills__item__icon{
    margin-bottom: 25px;
    width: 100%;
    height: 90px;
}
.skills__item__title{
    font-size: 16px;
    text-align: center;
    color: $dark;
    opacity: .6;
    line-height: 1.4;
    font-weight: 700;
}

// Recent Posts

.recentPosts{
    width: 100%;
}
.recentPosts__wrapper{
    @include container(930px);
    padding: 30px 15px 30px;
}
.recentItems__header{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.recentItems__title{
    font-size: 22px;
    color: $dark;
    margin-bottom: 30px;
}
.recentsItems__button{
    color: $secondary;
    background-color: transparent;
    &:hover{
        text-decoration: underline;
    }
}
.recentItems__content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: stretch;
}
.recentItems__works{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.recentPost__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
}
.recentPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-radius: 4px;
    padding: 25px;
    color: $dark;
    max-width: 420px;
    width: 100%;
    height: 100%;
    border: 1px solid #e0e0e0;
    transition: filter .1s linear;
    &.fullwidth{
        max-width: 930px;
        align-items: flex-start;
        border: 0px;
        border-bottom: 1px solid #E0E0E0;
        padding: 0 10px 30px;
        margin-bottom: 30px;
        .recentPost__theme{
            color: $light;
        }
        .recentPost__description{
            -webkit-line-clamp: 3;
        }
        &:hover{
            filter: none;
        }
        .recentPost__main{
            justify-content: flex-start;
            gap: 20px;
        }
    }
    &:hover{
        .recentPost__title{
            text-decoration: underline;
        }
    }
}
.recentPost__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    line-height: 1.4;
    width: 100%;
}
.recentPost__date{

}
.recentPost__devide{
    height: 20px;
    width: 1px;
    background-color: #000;
}
.recentPost__theme{

}
.recentPost__description{
    font-size: 18px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.post__info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 10px;
    margin-bottom: 25px;
}
.post__theme{
    font-size: 20px;
    color: $dark;
}
.post__content{
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #111;
    text-align: left;
}
.post__text{
    margin: 10px 0;
    img{
        width: 100%;
        margin: 30px 0;
    }
    h1{
        font-size: 30px;
        line-height: 2;
        font-weight: 500;
        color: $dark;
    }
    h2{
        font-size: 24px;
        line-height: 2.2;
        font-weight: 500;
        color: $dark;
    }
}

// Single Page

.page__title{
    font-size: 44px;
    font-weight: 700;
    margin-top: 100px;
    text-align: left;
    max-width: 930px;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 40px;
}
.moreButton{
    background-color: #fff;
    color: $dark;
    font-size: 20px;
    font-weight: 700;
    border-radius: 24px;
    border: 1px solid #8695A4;
    padding: 8px 18px;
    transition: background-color .2s linear;
    &:hover{
        background-color: darken(#fff, 10%);
    }
}

// Featured Works

.featuredWorks{
    @include container(930px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.featureWork{
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    color: $dark;
    height: 100%;
    &.fullwidth{
        max-width: 930px;
        align-items: flex-start;
        border-bottom: 1px solid #E0E0E0;
        padding: 0 10px 30px;
        margin-bottom: 30px;
    }
    &:hover{
        .featureWork__title{
            text-decoration: underline;
        }
        .featureWork__img{
            filter: brightness(70%);
        }
    }
}

.featureWork__img{
    max-height: 180px;
    max-width: 250px;
    border-radius: 6px;
    object-fit: cover;
    transition: filter .2s linear;
}
.featureWork__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 180px;
}
.featureWork__title{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.featureWork__main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}
.featureWork__year{
    background-color: $dark;
    border-radius: 16px;
    padding: 4px 10px;
    color: #fff;
    text-align: center;
    max-width: 62px;
    font-weight: 700;
    &.red{
        background-color: $primary;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: none;
    }
}
.featureWork__theme{
    font-size: 20px;
    opacity: .4;
}
.featureWork__description{
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
// Footer

.footer{
    width: 100%;
    @include container(930px);
    padding-top: 80px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer__links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}
.footer__link{
    fill: $dark;
    max-width: 30px;
    width: 100%;
    transition: fill .2s linear;
    &:hover{
        fill: lighten($dark, 20%);
    }
}
.footer__copy{
    color: $dark;
    margin-bottom: 15px;
}